.calendarWrapper {
  position: relative;
  width: 232px;
  height: 38px;
  padding: 8px 16px;
  border-radius: 6px;
  background:url('/src/assets/images/calendar.png') no-repeat, var(--input-background);
  background-position: calc(100% - 12px);
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: #1487F2;
  cursor: pointer;
}

.shortCalendarWrapper{
  width: 138px;
}

.calendarWrapper::placeholder{
  color: var(--text-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}


.datepickerHeaderWrapper{
  margin: 28px 23px 16px 24px;
  display: flex;
  justify-content: space-between;
}


.datepickerHeader{
  width: 822px;
  background-color: var(--background-datepicker);
  display: flex;
  align-items: center;
  gap: 15px;
}

.monthWrapper{
  color: var(--text-color);
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
}

.arrowButton{
  padding-bottom: 3px;
  width: 22px;
  height: 22px;
  border-radius: 6px;
  fill: #1487F2;
}

.arrowButton:disabled{
  fill: gray;
}

.line{
  margin: 0 auto;
  width: 94%;
  height: 1px;
  background-color: var(--line-color);
  border: none;
}

.buttonSwipeleftContainer{
  position: absolute;
  top: 85px;
  left: 24px;
} 

.buttonSwipeRightContainer{
  position: absolute;
  top: 85px;
  right: 24px;
} 

.secondLine{
  position: absolute;
  width: 94%;
  height: 1px;
  top: 110px;
  left: 24px;
  background-color: var(--line-color);
}

.submitButtons{
  position: absolute;
  top: 150px;
  right: 24px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cancelButton{
  margin-right: 8px;
  width: 144px;
}

.showButton{
  width: 152px;
}

.closeButton, .closeButton:hover{
  background: transparent;
  fill: #1487F2;
}
