.wrapperCheckbox {
  margin: 0;
  padding-left: 2px;
  display: flex;
  overflow: hidden;
  position: relative;
}

.checkbox {
  display: none;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.label:before {
  content: '';
  color: #000;
  display: flex;
  position: relative;
  width: 18px;
  height: 18px;
  background: transparent;
  border: 1.5px solid var(--text-color);
  border-radius: 3.375px;
}

.checkbox:checked + .label:before {
  position: relative;
  border: 1.5px solid #1487f2;
}

.wrapperCheckbox:hover > .label:before {
  display: flex;
  border: 1.5px solid #1487f2;
  box-shadow: 0px 0px 2px #1487f2;
}

.checkbox:disabled + .label {
  color: #aaa;
  cursor: auto;
}

.hasError:before {
  border-color: red;
}

.tick {
  visibility: hidden;
  position: absolute;
  top: 45%;
  left: 6px;
  transform: translateY(-50%);
}

.checkbox:checked ~ .label > .tick {
  visibility: visible;
}

.disabledTick {
  opacity: 0.5;
}
